<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="main-container">
        <div class="container" style="min-width: 75vw;">
            <h2>Add New Task</h2>
            <div class="add-task">
                <div class="task-form">
                    <form method="post" action="http://localhost:8080/task/add">
                        <label for="title">Title :</label>
                        <input type="text" name="title" id="title">

                        <label for="description">Description :</label>
                        <textarea name="description" id="description"></textarea>

                        <label for="assignee">Assignee :</label>
                        <input type="text" name="assignee" id="assignee">

                        <label for="date">Due Date :</label>
                        <input type="date" name="date" id="date">

                        <label for="priority">Priority :</label>
                        <select name="priority" id="priority">
                            <option value="High">High</option>
                            <option value="Medium">Medium</option>
                            <option value="Low">Low</option>
                        </select> 
                        
                        <button>Add Task</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-nav">
        <a href="http://localhost:8080/task">Back to Home</a>
    </div>
</body>
</html>