<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Assignment System</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="main-container">
        <div class="container container1" style="min-width: 90vw;">
            <h1>
                Welcome to Task Assignment System
            </h1>
            <div class="nav-links">
                <a href="http://localhost:8080/task/add">Add Task</a>
                <a href="http://localhost:8080/task/list">Task List</a>
            </div>
            <p class="msg-body">
                Manage and track Tasks efficiently. Use the navigation links to add new tasks or view and manage existing ones.
            </p>
        </div>
    </div>
    
</body>
</html>